body{
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    background: #88F0FC;
}

.navigation{
    padding-left: 50px;
}

.quem-somos{
    background: #f8f8f8;
}

.parceiros{
    background: #C8E9E6;
    margin-top: 0;
}

.depoimentos{
    background: #f8f8f8;
    padding-top: 20px;
}

.footer{
    background: #000;
    font-size: 0.8em;
    padding: 10px;
}

.space{
    padding-top: 20px;
    padding-bottom: 20px;
}

.quemsomos_img{
    border: 1px solid #000;
    border-radius: 10%;
    margin-bottom: 10px;
}

.img_parceiros{
    background: #f8f8f8;
}

.inner-section-img{
    max-width: 370px;
    background: #67F891;
    padding: 5px;
    padding-top: 15px;
    margin: 1px;
}

.inner-section-text{
    font-size: 0.9em;
    font-weight: bold;
    color: white;
    padding-top: 20px;
}

.parceiros-title{
    color: white;
    padding-top: 0;
    padding-bottom: 15px;
}

.inner-depoimento-name{
    font-size: 0.8em;
    text-align: center;
    font-weight: bold;
    padding-top: 6px;
}

.inner-depoimento-text{
    color: #747775;
    font-style: italic;
    font-size: 0.7em;
    text-align: center;
}

.inner-depoimento-img{
    padding-top: 10px;
    padding-bottom: 8px;
}

.inner-footer-text{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    text-align: center;
}

.float-left{
    float: left;
    margin-top: 12px;
    margin-left: 20px;
}

.float-right{
    float: right;
    margin-top: 12px;
    margin-right: 20px;
}

.link{
    padding-right: 20px;
}

.clear{
    clear: both;
}